//@font-face
//  font-family: 'Montserrat'
//  src: url('https://in-space.ru/css/fonts/Montserrat-Light.eot')
//  src: local('Montserrat Light'), local('Montserrat-Light'),
//  url('https://in-space.ru/css/fonts/Montserrat-Light.eot?#iefix') format('embedded-opentype'),
//  url('https://in-space.ru/css/fonts/Montserrat-Light.woff2') format('woff2'),
//  url('https://in-space.ru/css/fonts/Montserrat-Light.woff') format('woff'),
//  url('https://in-space.ru/css/fonts/Montserrat-Light.ttf') format('truetype')
//  font-weight: 300
//  font-style: normal
//
//@font-face
//  font-family: 'Montserrat'
//  src: url('https://in-space.ru/css/fonts/Montserrat-Regular.eot')
//  src: local('Montserrat Regular'), local('Montserrat-Regular'),
//  url('https://in-space.ru/css/fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
//  url('https://in-space.ru/css/fonts/Montserrat-Regular.woff2') format('woff2'),
//  url('https://in-space.ru/css/fonts/Montserrat-Regular.woff') format('woff'),
//  url('https://in-space.ru/css/fonts/Montserrat-Regular.ttf') format('truetype')
//  font-weight: 400
//  font-style: normal
//
//@font-face
//  font-family: 'Montserrat'
//  src: url('https://in-space.ru/css/fonts/Montserrat-Medium.eot')
//  src: local('Montserrat Medium'), local('Montserrat-Medium'),
//  url('https://in-space.ru/css/fonts/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
//  url('https://in-space.ru/css/fonts/Montserrat-Medium.woff2') format('woff2'),
//  url('https://in-space.ru/css/fonts/Montserrat-Medium.woff') format('woff'),
//  url('https://in-space.ru/css/fonts/Montserrat-Medium.ttf') format('truetype')
//  font-weight: 500
//  font-style: normal
//
//@font-face
//  font-family: 'Montserrat'
//  src: url('https://in-space.ru/css/fonts/Montserrat-SemiBold.eot')
//  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
//  url('https://in-space.ru/css/fonts/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
//  url('https://in-space.ru/css/fonts/Montserrat-SemiBold.woff2') format('woff2'),
//  url('https://in-space.ru/css/fonts/Montserrat-SemiBold.woff') format('woff'),
//  url('https://in-space.ru/css/fonts/Montserrat-SemiBold.ttf') format('truetype')
//  font-weight: 600
//  font-style: normal
//
//@font-face
//  font-family: 'Montserrat'
//  src: url('https://in-space.ru/css/fonts/Montserrat-Bold.eot')
//  src: local('Montserrat Bold'), local('Montserrat-Bold'),
//  url('https://in-space.ru/css/fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
//  url('https://in-space.ru/css/fonts/Montserrat-Bold.woff2') format('woff2'),
//  url('https://in-space.ru/css/fonts/Montserrat-Bold.woff') format('woff'),
//  url('https://in-space.ru/css/fonts/Montserrat-Bold.ttf') format('truetype')
//  font-weight: 700
//  font-style: normal
//
//@font-face
//  font-family: 'Montserrat'
//  src: url('https://in-space.ru/css/fonts/Montserrat-ExtraBold.eot')
//  src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'),
//  url('https://in-space.ru/css/fonts/Montserrat-ExtraBold.eot?#iefix') format('embedded-opentype'),
//  url('https://in-space.ru/css/fonts/Montserrat-ExtraBold.woff2') format('woff2'),
//  url('https://in-space.ru/css/fonts/Montserrat-ExtraBold.woff') format('woff'),
//  url('https://in-space.ru/css/fonts/Montserrat-ExtraBold.ttf') format('truetype')
//  font-weight: 900
//  font-style: normal
//
//@font-face
//  font-family: 'Courier Prime'
//  src: url('https://in-space.ru/css/fonts/CourierPrime-Regular.eot')
//  src: local('Courier Prime Regular'), local('CourierPrime-Regular'),
//  url('https://in-space.ru/css/fonts/CourierPrime-Regular.eot?#iefix') format('embedded-opentype'),
//  url('https://in-space.ru/css/fonts/CourierPrime-Regular.woff2') format('woff2'),
//  url('https://in-space.ru/css/fonts/CourierPrime-Regular.woff') format('woff'),
//  url('https://in-space.ru/css/fonts/CourierPrime-Regular.ttf') format('truetype')
//  font-weight: 500
//  font-style: normal
//
//@font-face
//  font-family: 'Courier Prime'
//  src: url('https://in-space.ru/css/fonts/CourierPrime-Bold.eot')
//  src: local('Courier Prime Bold'), local('CourierPrime-Bold'),
//  url('https://in-space.ru/css/fonts/CourierPrime-Bold.eot?#iefix') format('embedded-opentype'),
//  url('https://in-space.ru/css/fonts/CourierPrime-Bold.woff2') format('woff2'),
//  url('https://in-space.ru/css/fonts/CourierPrime-Bold.woff') format('woff'),
//  url('https://in-space.ru/css/fonts/CourierPrime-Bold.ttf') format('truetype')
//  font-weight: 600
//  font-style: normal


@import colors
@import fonts

$fontStack: sans-serif
$borderRadius: 2px
$colorBackground: #1b1b1b

body
  font-family: $fontStack
  //font-family: Montserrat
  font-size: 12px
  line-height: 1.5
  background-color: $colorBackground
  color: $text-main
  margin: 0

h1
  font-size: 1.6em

#root
  height: 100vh

/* General */
.main
  margin-top: 70px

.small
  font-size: .9em
  color: $text-second

.box
  position: relative
  background: $box-background
  border-radius: $borderRadius
  padding: 13px
  box-shadow: 0 0 3px rgba(0,0,0,0.5)

  &.table
    padding: 5px !important

  .dimmer
    border-radius: $borderRadius

  &.loader
    height: 40vh

  .accordion
    .title
      margin-left: 10px
      font-weight: 600
      text-transform: uppercase

.second-color
  color: $text-second

.aright
  text-align: right

@import components/header
@import components/footer
@import components/sidebar
@import components/statistic
@import components/relay
@import components/camera
@import components/weather
@import ../components/objectTable/index
@import ../components/objectCloud/index
@import ../components/photoGrid/index
@import ../components/photoTable/index
@import ../components/photoItemHeader/index
@import ../components/skyMap/index
@import ../components/categoryToolbar/index
@import ../components/filterList/index
@import ../components/moonPhase/index
@import ../components/newsList/index
@import ../components/calendar/index