@import "colors"

$font-stack: sans-serif

*:not(.icon)
    outline: none
    font-family: $font-stack !important

body
    color: $main-color
    font-size: 12px
    line-height: 1.5
    background-color: #191b22
    margin: 0
    height: 100%

.ui.container
    max-width: 900px !important

.update-container
    float: right
    margin-top: -34px

.navigation
    a
        display: inline-block
        margin-right: 10px
        padding: 1vh 0
        color: $main-color

.active
    font-weight: 900

.footer
    margin: 5vh 0
    color: $second-color
    font-size: .8em

.cameraPhoto
    > img
        width: 100%
        cursor: pointer

.error404
    text-align: center
    padding-top: 14%

.filter-r
    background-color: #57262c

.filter-g
    background-color: #215722

.filter-b
    background-color: #292957

.filter-l
    background-color: #4e4c57

.filter-h
    background-color: #1d574a

.filter-o
    background-color: #233d57

.filter-s
    background-color: #572e06


.informer
    background: #373737
    border-radius: 5px
    padding: 1em
    box-shadow: 0 0 10px rgba(0,0,0,0.5)

    .icon-container
        color: $second-color
        font-size: 3em

        > i
            float: left
            margin-top: .2em

    .value
        font-size: 2.5em

    .info
        color: $second-color

    img
        width: 100%
        margin-bottom: -.3em
        cursor: pointer
        height: 232px

.sun
    .icon
        font-size: 2em
        float: left
        color: $orange

    .title
        margin-bottom: 5px
        text-transform: uppercase

    .value
        font-size: 1em
        color: $main-color

.moon
    color: $second-color

    b
        color: $main-color

    .icon-holder
        position: relative

    .icon
        position: absolute
        font-size: 86px
        left: -20%
        top: -5px
        color: $darkblue

    .icon-info
        position: absolute
        right: 5px
        font-size: 26px
        top: -5px
        color: $darkblue

    .icon-info-container
        position: relative
        padding-right: 30px !important

    .left > div
        padding-left: 10px

    .right > div
        padding-right: 10px

.container
    padding: .3em

.switch-on, .switch-off
    background: $green
    display: inline-block
    width: 11px
    height: 11px
    border-radius: 50%
    margin-right: 1vh
    margin-top: 3px
    float: left

.switch-on
    -webkit-animation: pulsate 2s infinite
    -moz-animation: pulsate 2s infinite
    animation: pulsate 2s infinite

.switch-off
    background: $red

@-webkit-keyframes pulsate
    0%
        opacity: 1
    50%
        opacity: 0
    100%
        opacity: 1

@-moz-keyframes pulsate
    0%
        opacity: 1
    50%
        opacity: 0
    100%
        opacity: 1

@keyframes pulsate
    0%
        opacity: 1
    50%
        opacity: 0
    100%
        opacity: 1