@import "colors"
@import "tile_colors"

$font-stack: sans-serif

*:not(.icon)
    outline: none
    font-family: $font-stack !important

body
    color: $main-color
    font-size: 12px
    line-height: 1.5
    background-color: #191b22
    margin: 0
    height: 100%

.header-toolbar
    background: #373737
    padding: .8em 1em !important
    margin: 2em 0

.last-update
    display: inline-block
    margin-left: 1em
    font-size: .8em
    line-height: 20px
    margin-top: 4px

.update-switch
    margin-top: 3px
    float: right

.update-icon
    float: right
    margin: 4px 7px 0 0 !important

.online, .offline
    background: $green
    display: inline-block
    width: 11px
    height: 11px
    border-radius: 50%
    margin-right: 1vh
    margin-top: 3px
    float: left

.online.pulsate
    -webkit-animation: pulsate 2s infinite
    -moz-animation: pulsate 2s infinite
    animation: pulsate 2s infinite

.offline
    background: $red

.hamburger
    cursor: pointer

.navigation
    a
        display: inline-block
        margin-right: 10px
        padding: 1vh 0
        color: $main-color

.active
    font-weight: 900

.footer
    margin: 5vh 0
    color: $second-color
    font-size: .8em

.table
    margin-top: 2em !important


.sensor
    position: relative
    background: #373737
    border-radius: 5px
    padding: 1em
    box-shadow: 0 0 10px rgba(0,0,0,0.5)

    .dimmer
        border-radius: inherit !important

    .title
        font-size: 11px
        color: #D9D9D9

    .value
        font-size: 17px
        font-weight: 600
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.5)

        .sign
            font-size: 13px
            padding-left: 5px

    .icon
        position: absolute
        top: -10px
        right: -10px
        font-size: 3.2em

    .trend
        font-size: .8em
        color: $main-color
        text-align: center

    .trend-up, .trend-down
        font-size: 2em
        display: block
        margin: 0 auto

    .trend-up
        color: #DD523A

    .trend-down
        color: #7EC51D

    .maxmin
        font-size: .8em
        color: $second-color
        text-align: center

        > div
            margin-top: 5px
            color: $main-color

    .info
        font-size: .7em

    .row > div, .grid-info .row
        padding: 0 !important

    .grid
        margin: 0 0

    .grid-info
        margin-top: 0 !important

.relay
    position: relative
    background: #373737
    border-radius: 5px
    padding: 1em
    box-shadow: 0 0 10px rgba(0,0,0,0.5)

    .dimmer
        border-radius: inherit !important

    .icon
        font-size: 3em
        margin-top: 7px

    .desc
        color: $second-color
        font-size: .9em

    .checkbox
        margin-bottom: 5px

        label::before
            height: 1.0rem !important

        input ~ label::after
            top: -3px !important

.switch-on .state, .switch-off .state
    background: $green
    display: inline-block
    width: 11px
    height: 11px
    border-radius: 50%
    margin-right: 1vh
    margin-top: 3px
    float: left

.switch-on
    .icon
        color: $main-color

    .state
        -webkit-animation: pulsate 2s infinite
        -moz-animation: pulsate 2s infinite
        animation: pulsate 2s infinite

.switch-off
    .icon
        color: #7B7979

    .state
        background: $red

@-webkit-keyframes pulsate
    0%
        opacity: 1
    50%
        opacity: 0
    100%
        opacity: 1

@-moz-keyframes pulsate
    0%
        opacity: 1
    50%
        opacity: 0
    100%
        opacity: 1

@keyframes pulsate
    0%
        opacity: 1
    50%
        opacity: 0
    100%
        opacity: 1




.informer
    position: relative
    background: #373737
    border-radius: 5px
    padding: .4em
    box-shadow: 0 0 10px rgba(0,0,0,0.5)

    .title
        text-transform: uppercase
        font-size: 11px
        color: #D9D9D9

    .value
        font-size: 1.6em
        line-height: 1em
        font-weight: 600
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.5)

    .info
        color: $second-color

    .icon
        position: absolute
        left: 20%
        font-size: 3em
        top: -11px

    .row > div, .grid-info .row
        padding: 0 !important

    .grid
        margin: 0 0

    .grid-info
        margin-top: 0 !important

.informer.cameraPhoto
    padding: .3em

.cameraPhoto
    > img
        width: 100%
        margin-bottom: -3px
        border-radius: inherit
        cursor: pointer
        height: 288px

    .progress
        margin: 2px 0 0 0 !important

.error404
    text-align: center
    padding-top: 14%

.filter-r
    background-color: #57262c

.filter-g
    background-color: #215722

.filter-b
    background-color: #292957

.filter-l
    background-color: #4e4c57

.filter-h
    background-color: #1d574a

.filter-o
    background-color: #233d57

.filter-s
    background-color: #572e06

.sun
    .icon
        font-size: 9em
        float: left
        color: $orange

    .title
        margin-bottom: 5px
        text-transform: uppercase

    .value
        font-size: 1em
        color: $main-color

.moon
    color: $second-color

    b
        color: $main-color

    .icon-holder
        position: relative

    .icon
        position: absolute
        font-size: 86px
        left: -20%
        top: -5px
        color: $darkblue

    .icon-info
        position: absolute
        right: 5px
        font-size: 26px
        top: -5px
        color: $darkblue

    .icon-info-container
        position: relative
        padding-right: 30px !important

    .left > div
        padding-left: 10px

    .right > div
        padding-right: 10px

.container
    padding: .3em
