Header add Access-Control-Allow-Origin '*'
Header add Access-Control-Allow-Methods: 'GET,POST,OPTIONS,DELETE,PUT'

<FilesMatch '\.json$'>
    <IfModule mod_headers.c>
        Header set Cache-Control 'public, max-age=31536000'
        Header append Vary Accept-Encoding
        ExpiresDefault 'access plus 1 month'
    </IfModule>
# --- FOR NO CACHE --- #
#  FileETag None
#  <IfModule mod_headers.c>
#    Header unset ETag
#    Header set Cache-Control 'max-age=0, no-cache, no-store, must-revalidate'
#    Header set Pragma 'no-cache'
#    Header set Expires 'Wed, 11 Jan 1984 05:00:00 GMT'
#  </IfModule>
</FilesMatch>